In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel("Sales_Dataset_2024.xlsx")

In [4]:
data

,Date,Region,Product,Salesperson,Units_Sold,Unit_Price,Category,Revenue,Cost,Profit
0,2024-04-12,North,Smartwatch,Hannah,15.0,1224.0,Accessories,18360.0,16451.634258,1908.365742
1,2024-12-14,North,Monitor,Eva,5.0,1321.0,Office,6605.0,4457.351727,2147.648273
2,2024-09-27,North,Mobile,Bob,11.0,912.0,Electronics,10032.0,6563.644126,3468.355874
3,2024-04-16,West,Monitor,Charlie,18.0,325.0,Office,5850.0,4320.807092,1529.192908
4,2024-03-12,West,Headphones,Eva,13.0,1042.0,Accessories,13546.0,8270.122666,5275.877334
...,...,...,...,...,...,...,...,...,...,...
1995,2024-10-10,East,Headphones,David,3.0,1333.0,Accessories,3999.0,3227.051448,771.948552
1996,2024-04-30,North,Tablet,Alice,6.0,703.0,Electronics,4218.0,3249.244924,968.755076
1997,2024-04-16,North,Smartwatch,Grace,7.0,1760.0,Accessories,12320.0,8980.011984,3339.988016
1998,2024-06-23,South,Printer,Charlie,1.0,1114.0,Office,1114.0,941.813213,172.186787
1999,2024-07-22,West,Tablet,Frank,1.0,1196.0,Electronics,1196.0,1002.640577,193.359423